{% extends 'crm/base.html' %} {% block content %}
<div class="container-fluid">
  <!--BREADCRUMB-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Compagnies</li>
    </ol>
  </nav>
  <!--BREADCRUMB END-->
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      {% if not compagnies %}
      <h1 class="p-3">Company table is empty</h1>
      {% else %}

      <h1 class="p-3 position-relative">
        Compagnies Table
        <a
          class="btn btn-secondary position-absolute top-50 end-0"
          href="{% url 'add_company' %}"
          >ADD COMPANY</a
        >
      </h1>
      <table
        style="width: 100%"
        id=""
        class="display table table-hover table-striped table-bordered text-center"
      >
        <thead class="bg-dark">
          <tr class="table table-dark">
            <th class="text-center">Name</th>
            <th class="text-center">City</th>
            <th style="width: 20%" class="text-center">N° of Contacts</th>
            <th style="width: 20%" class="text-center">Action</th>
          </tr>
        </thead>

        <tbody>
          {% for company in compagnies %}
          <tr>
            <td>{{ company.name }}</td>
            <td>{{ company.city }}</td>
            <td class="text-center">{{ company.contact_set.count }}</td>
            <td style="width: 15">
              <div class="row justify-content-center">
                <div class="col-lg-3">
                  <a
                    class="btn btn-info btn-sm"
                    href="{% url 'company' company.id %}"
                    ><i class="bi bi-eye-fill"></i>
                  </a>
                </div>
                <div class="col-lg-3">
                  <!-- Button trigger modal -->
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal{{ company.id }}"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                  <!--Modal Detail Include-->
                  {% include 'crm/include/delete_company_modal.html' %}
                </div>
                <div class="col-lg-3">
                  <a
                    class="btn btn-secondary btn-sm"
                    href="{% url 'add_contactfromcompany' company.id %}"
                    ><i class="bi bi-person-plus-fill"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
