{% extends 'crm/base.html' %} {% block content %}
<div class="container-fluid">
  <!--BREADCRUMB-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contacts</li>
    </ol>
  </nav>
  <!--BREADCRUMB END-->
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
      {% if not contacts %}
      <h1 class="p-3">Contact table is empty</h1>
      {% else %}

      <h1 class="p-3 position-relative">
        Contacts Table
        <a
          class="btn btn-secondary position-absolute top-50 end-0"
          href="{% url 'add_contact' %}"
          >Add contact</a
        >
      </h1>

      <table class="table table-hover table-striped table-bordered text-center">
        <tr class="table table-dark">
          <th>Full Name</th>
          <th>Company</th>
          <th>Position</th>
          <th>Action</th>
        </tr>
        {% for contact in contacts%}
        <tr>
          <td>{{ contact.first_name }} {{ contact.last_name }}</td>
          <td>{{ contact.company }}</td>
          <td>{{ contact.position }}</td>
          <td>
            <a class="btn btn-secondary" href="{% url 'contact' contact.id %}"
              >Detail</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
