{% extends 'crm/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-xl-8 offset-xl-2">
      <div class="card">
        <h3 class="card-header">Contact Detail</h3>
        <div class="card-body">
          <div class="row pt-3 fs-5 g-3 ms-3">
            <div class="col-lg-6">
              <p class="fs-6" style="margin-bottom: 0px">First name:</p>
              <p style="margin-bottom: 0px" class="position-relative">
                <strong>{{ contact.first_name}}</strong>
                <a href="{% url 'update_contact' contact.id %}"
                  ><i
                    class="bi bi-pencil-fill position-absolute top-0 end-0 link-dark"
                  ></i
                ></a>
              </p>

              <hr style="margin-top: 0px" />
            </div>

            <div class="col-lg-6">
              <p class="fs-6" style="margin-bottom: 0px">Last name:</p>
              <p style="margin-bottom: 0px" class="position-relative">
                <strong>{{ contact.last_name}}</strong
                ><a href="{% url 'update_contact' contact.id %}"
                  ><i
                    class="bi bi-pencil-fill position-absolute top-0 end-0 link-dark"
                  ></i
                ></a>
              </p>
              <hr style="margin-top: 0px" />
            </div>
          </div>
          <br />

          <div class="row pt-3 fs-5 g-3 ms-3">
            <div class="col-lg-6">
              <p class="fs-6" style="margin-bottom: 0px">Email:</p>
              <p style="margin-bottom: 0px" class="position-relative">
                <strong>{{ contact.email}}</strong
                ><a href="{% url 'update_contact' contact.id %}"
                  ><i
                    class="bi bi-pencil-fill position-absolute top-0 end-0 link-dark"
                  ></i
                ></a>
              </p>
              <hr style="margin-top: 0px" />
            </div>
            <div class="col-lg-6">
              <p class="fs-6" style="margin-bottom: 0px">Mobile:</p>
              <p style="margin-bottom: 0px" class="position-relative">
                <strong>{{ contact.mobile}}</strong
                ><a href="{% url 'update_contact' contact.id %}"
                  ><i
                    class="bi bi-pencil-fill position-absolute top-0 end-0 link-dark"
                  ></i
                ></a>
              </p>
              <hr style="margin-top: 0px" />
            </div>
          </div>
          <br />

          <div class="row pt-3 fs-5 g-3 ms-3">
            <div class="col-lg-6">
              <p class="fs-6" style="margin-bottom: 0px">Company:</p>
              <p style="margin-bottom: 0px" class="position-relative">
                <strong>{{ contact.company}}</strong
                ><a href="{% url 'update_contact' contact.id %}"
                  ><i
                    class="bi bi-pencil-fill position-absolute top-0 end-0 link-dark"
                  ></i
                ></a>
              </p>
              <hr style="margin-top: 0px" />
            </div>
            <div class="col-lg-6">
              <p class="fs-6" style="margin-bottom: 0px">Position:</p>
              <p style="margin-bottom: 0px" class="position-relative">
                <strong>{{ contact.position}}</strong
                ><a href="{% url 'update_contact' contact.id %}"
                  ><i
                    class="bi bi-pencil-fill position-absolute top-0 end-0 link-dark"
                  ></i
                ></a>
              </p>
              <hr style="margin-top: 0px" />
            </div>
            <br />
          </div>
          <div class="row text-center my-3">
            <div class="col">
              <a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
            </div>
            <div class="col">
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Delete
              </button>
              {% include 'crm/delete_modal.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
