{% extends 'crm/base.html' %} {% block content %} {% if user.is_authenticated %}
<div class="container-fluid">
  <ul>
    <li>N° of contacts : {{ contacts.count }}</li>
    <li>N° of compagnies : {{ compagnies.count }}</li>
    {% for companyy in compagnies_per_city %}
    <li>
      {{ companyy.city }}: {{ companyy.company_count }}
      <ul>
        {% for company in compagnies %} {% if company.city == companyy.city %}
        <li>{{ company.name }}: {{ company.contact_set.count }}</li>
        <ul>
          {% for contact in company.contact_set.all %}
          <li>{{ contact.first_name }} {{ contact.last_name }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

  {% else %} {% include 'crm/include/login.html' %} {% endif %}
</div>
{% endblock %}
