{% extends 'crm/base.html' %} {% load crispy_forms_tags %} {% block content %}<!---->

<div class="container-fluid">
  <!--BREADCRUMB-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Offers</li>
    </ol>
  </nav>
  <!--BREADCRUMB END-->
</div>

<div class="containter-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col">{{ form.date|as_crispy_field }}</div>
          <div class="col">{{ form.contact|as_crispy_field }}</div>
          <div class="col">{{ form.number|as_crispy_field }}</div>
          <div class="col">{{ form.amount|as_crispy_field }}</div>
          <div class="col">{{ form.step|as_crispy_field }}</div>
          <div class="col d-flex align-items-center justify-content-center">
            {% if form.instance.id %}
            <button
              value="{{ form.instance.id }}"
              name="modify"
              class="btn btn-success"
              type="submit"
              formnovalidate
            >
              Update Offer
            </button>
            {% else %}
            <button
              name="add"
              class="btn btn-success"
              type="submit"
              formnovalidate
            >
              Add offer
            </button>
            {% endif %}
          </div>
        </div>
      </form>

      <br />
      <table
        style="width: 100%"
        id=""
        class="display table table-hover table-striped table-bordered text-center"
      >
        <thead class="bg-dark">
          <tr class="table table-dark">
            <th class="text-center">Date</th>
            <th class="text-center">Contact</th>
            <th class="text-center">Number</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Step</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>

        <tbody>
          {% for offer in offers %}
          <tr>
            <td>{{ offer.date }}</td>
            <td>{{ offer.contact }}</td>
            <td>{{ offer.number }}</td>
            <td>{{ offer.amount }}</td>
            <td>{{ offer.step }}</td>
            <td>
              <form method="post">
                {% csrf_token %}
                <button
                  formnovalidate
                  class="btn btn-primary"
                  type="submit"
                  name="update"
                  value="{{ offer.id }}"
                >
                  Update
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
