{% extends 'crm/base.html' %} {% load crispy_forms_tags %} {% block content %}<!---->

<div class="container-fluid">
  <!--BREADCRUMB-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'compagnies' %}">Compagnies</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'company' contact.company.id %}"
          >{{ contact.company.name }}</a
        >
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'contact' contact.id %}"
          >{{ contact.first_name }} {{ contact.last_name }}</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">Update</li>
    </ol>
  </nav>
  <!--BREADCRUMB END-->
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-8 offset-xl-2">
      <div class="card">
        <h3 class="card-header">Update Contact</h3>
        <form action="" method="post">
          {% csrf_token %}
          <div class="card-body">
            <div class="row pt-3 fs-5 g-3 ms-3">
              <div class="col-lg-6">
                <p class="fs-6" style="margin-bottom: 0px">First name:</p>
                <p style="margin-bottom: 0px" class="position-relative">
                  <strong>{{form.first_name|as_crispy_field }}</strong>
                </p>

                <hr style="margin-top: 0px" />
              </div>

              <div class="col-lg-6">
                <p style="margin-bottom: 0px" class="position-relative">
                  <strong>{{form.last_name|as_crispy_field }}</strong>
                </p>
                <hr style="margin-top: 0px" />
              </div>
            </div>

            <div class="row pt-3 fs-5 g-3 ms-3">
              <div class="col-lg-6">
                <p style="margin-bottom: 0px" class="position-relative">
                  <strong>{{ form.email|as_crispy_field }}</strong>
                </p>
                <hr style="margin-top: 0px" />
              </div>
              <div class="col-lg-6">
                <p style="margin-bottom: 0px" class="position-relative">
                  <strong>{{ form.mobile|as_crispy_field }}</strong>
                </p>
                <hr style="margin-top: 0px" />
              </div>
            </div>

            <div class="row pt-3 fs-5 g-3 ms-3">
              <div class="col-lg-6">
                <p class="fs-6" style="margin-bottom: 0px">Company:</p>
                <p style="margin-bottom: 0px" class="position-relative">
                  <strong>{{ form.company|as_crispy_field }}</strong>
                </p>
                <hr style="margin-top: 0px" />
              </div>
              <div class="col-lg-6">
                <p style="margin-bottom: 0px" class="position-relative">
                  <strong>{{ form.position|as_crispy_field }}</strong>
                </p>
                <hr style="margin-top: 0px" />
              </div>
            </div>
            <div class="row text-center my-3">
              <div class="col">
                <button formnovalidate class="btn btn-success" type="submit">
                  Update
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
